.git
.github
node_modules
vendor
.env
.env.backup
.env.production
composer.lock
package-lock.json
npm-debug.log
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/build
public/hot
public/storage
docker-compose.yml
Dockerfile
.dockerignore
.idea
.vscode
.phpunit.cache
tests
