.git
.github
node_modules
vendor
.env
.env.*
npm-debug.log

# Storage & Cache
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

# IDEs & System
.idea
.vscode
.DS_Store
.phpunit.cache